{% extends "base.html" %}
{% block title %}Welcome to MyNote -Add Todo{% endblock %}
{% block content %}
<div class="mx-auto flex justify-center items-center space-x-[10px">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
        </svg>
    </div>
    <div class="font-[600] md:text-[40px] text-[30px]">Todo</div>
</div>
<!--form-->
<form method="POST" action="{{ url_for('add') }}" class="mx-auto mt-[80px] md:w-[40%] w-[85%]">
    <div class="mt-[10px]"></div>
    <label for="description" class="font-[500] text-[16px] text-[#64748b]">Description</label>
    <input type="text"
        class="w-full mt-[8px] rounded-[5px] py-[16px] px-[17px] border-[2px] border-[#3f3f46] focus:outline-none"
        placeholder="Enter description here" id="description" name="description">
    <!---->
    <button type="submit"
        class="mt-[10px] bg-[#ef4444] text-[#fff] font-[400] rounded-[6px] w-[131px] py-[6px] px-[10px]">Add
        Todo</button>
</form>

{% for todo in todos %}
<div>
    <div class="font-[500] p-[10px] border-[1px] border-[#e2e8f0] text-[16px]">{{todo.id}}</div>
    <div class="font-[500] p-[10px] border-[1px] border-[#e2e8f0] text-[16px]">{{todo.description}}</div>
</div>
{% endfor %}
{% endblock %}